*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider_wrapper{
    position: relative;
    max-width: 1000px;
    margin: auto;

}

.slider{
    display:flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem rgba(252, 77, 179, 0.966);
    border-radius: .5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider_nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider_nav a {
width: .5rem;
height: .5rem;
border-radius: 50%;
background-color: #f1ffb4;
opacity: .75;
transition: opacity ease 250ms;
}

.slider_nav a:hover{
    opacity: 1;
}